* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
 }
 
 ul {
   list-style: none;
 }
 
 a, button {
   cursor: pointer;
 }
 
 button {
   border: none;
 }
 
 .header {
   padding: 16px 0;
 }
 
 .container {
   max-width: 1096px;
   margin: auto;
   padding: 0 16px;
 }

 #menu__toggle {
   opacity: 0;
 }

 .menu__btn {
   display: flex;
   align-items: center; 
   position: fixed;
   top: 20px;
   left: 20px;
   width: 26px;
   height: 26px;
   cursor: pointer;
   z-index: 1;
   visibility: hidden;
 }

 .menu__btn > span,

 .menu__btn > span::before,

 .menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #616161;
 }
 .menu__btn > span::before {
   content: '';
   top: -8px;
 }
 .menu__btn > span::after {
   content: '';
   top: 8px;
 }

 .menu__box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   left: -100%;
   width: 300px;
   height: 100%;
   margin: 0;
   padding: 80px 0;
   list-style: none;
   text-align: center;
   background-color: #ECEFF1;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   transition: 1s;
 }

 .menu__item {
   display: block;
   padding: 12px 24px;
   color: #333;
   font-size: 20px;
   font-weight: 600;
   text-decoration: none;
 }

 .menu__icons-wrapper{
   display: flex;
   align-items: center;
   column-gap: 10px;
   margin-left: auto
 }

 .menu__item:hover {
   background-color: #CFD8DC;
 }

 #menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
   transition: 1s;
 }

 #menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
 }

 #menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);  
 }

 #menu__toggle:checked ~ .menu__box {
   visibility: visible;
   left: 0;
 }

 .header__container {
   display: flex;
   align-items: center;
 }
 
 .nav {
   margin-right: 5.76vw;
   max-width: 423px;
   width: 100%;
 }
 
 .nav__list {
   display: flex;
   justify-content: space-between;
   gap: 28px;
 }
 
 .nav li {
   font-weight: 700;
   color:#1C1B1B;
 }
 
 .logo { 
   margin-right: 28.7%;
 }
 
 .header__icons-wrapper {
   display: flex;
   align-items: center;
   column-gap: 10px;
   margin-left: auto
 } 
 
 .intro{
   background: #F0EFEB;
 }
 
 .intro__text-block {
   max-width: 525px;
   padding: 90px 0;
 }
 
 .intro__container {
   display: flex;
   justify-content:space-between;
 }
 
 .intro__title {
   font-size: 60px;
   line-height: 70px;
   margin-bottom: 42px;
 }
 
 .intro__text {
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 26px;
 }
        
 .intro__button {
   color: #FFFFFF;
   background-color: #000000;
   font-size: 17px;
   line-height: 20px;
   padding: 8px 23px;
   border-radius: 100px;
 }

 .intro__image{
   width:500px;
    height:550px;
 }

 .about-guides__text-block{
   margin-top: 59.8px;
   margin-bottom: 87px;   
}

.about-guides__title{
   font-size: 36px;
   font-weight: 700;
   line-height: 42.19px;
   margin: auto;
   text-align: center; 
}

.about-guides__text{
   font-size: 20px;
   font-weight: 400;
   line-height: 23.44px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 27px;
   width: 632px;
   height: 69px;
   margin-bottom: 47px;
}

.about-guides__text-bottom{
   max-width: 371px;
   max-height: 23px;
   font-size: 20px;
   margin: auto;
}

.about-guides__info-sellers{
   margin-top: 87px;
   text-align: center;
}

.sellers-guides{
   display:flex;
   justify-content: space-around;
}

.sellers-guides__container{
   max-height: 585px;
   max-width: 315;
   margin-bottom: 189px;
}

.sellers-guides__icon{
   width: 309px;
   height: 422px;
}

.sellers-guides__info{
   font-size: 17px;
   font-weight: 700;
   line-height: 19.92px;
   width: 156px;
   height: 60px;
   margin-top: 27px;
   margin-bottom: 17px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.sellers-guides__price{
   font-size: 17px;
   font-weight: 400; 
   margin-top: 17px ;
   margin-bottom: 10px;
   width: 73px;
   height: 20px;
  margin: auto;
}

.sellers-guides__link{
   width: 92px;
   height: 20px;
   padding-top: 11px;
   font-weight: 700;
   font-size: 17px;
   color: #000000;
   margin: auto;
}

.guide-decsribe__container{
   padding: 75px 188px 50px 88px;
   margin: auto;
   display: flex;
   column-gap: 50px;
 justify-content: center;
}

.guide-french-people__decsribe{
   background: #CCCCCC4D;
}

  .guide-decsribe__icon{
   max-width: 385px;
   max-height: 525px;
 
}

.guide-french-people__text-block{
   max-width: 532px;
   max-height: 510.88px;
}

.guide-french-people__title{
   margin-top: 62px;
   font-weight: 700;
   font-size: 36px;
   margin-bottom:31px;
}

.guide-french-people__text{
   width: 498px;
   height: 252px;
   font-weight: 400;
   font-size: 36px;
   margin-bottom:40px ;
   line-height: 42px;
}

.guide__shop-link{
   font-weight: 700;
   font-size: 17px;
   color: #000000;
}

.guide-moroccan-culture__decsribe{
   background: #CCCCCC99;
}

.guide-moroccan-culture__text-block{
   width: 532px;
   height: 510.88px;
   text-align: end;
}

.guide-moroccan-culture__title{
   margin-top: 62px;
   font-weight: 700;
   font-size: 36px;
   margin-bottom:31px ;
   text-align: end;
}

.guide-moroccan-culture__text{
   width: 513px;
   height: 252px;
   font-weight: 400;
   font-size: 36px;
   margin-bottom:40px ;
   text-align: end;
   margin-left: 25px;
}

.guide-german-power__decsribe{
   background: #CCCCCC4D;
}

.guide-german-power__text-block{
   width: 532px;
   height: 510.88px;
   padding-right: 131px;
}

.guide-german-power__title{
   margin-top: 62px;
   font-weight: 700;
   font-size: 36px;
   margin-bottom:31px ;
}

.guide-german-power__text{
   width: 489px;
   height: 252px;
   font-weight: 400;
   font-size: 36px;
   margin-bottom:40px ;
   line-height: 42px;
}

.features_container{
   max-width: 1280px;
   max-height: 709px;
}


.features__title-container{
    padding-top: 189px;
    text-align: center;
}

.features__title{
font-size: 36px;
font-weight: 400;
line-height: 42.19px;
margin-bottom: 69px;
}

.unique{
   max-width: 1088px;
    width: 100%;
    height: 100%;
    margin-top: 69px;
    flex-wrap: wrap;
    display: flex;
    column-gap: 24px;
    margin: auto;
    justify-content: center;
    padding-bottom: 1px;
}

.unique__container{
    max-width: 338.66px;
    max-height: 167.5px;
    width: 100%;
    height: 100%;
    margin-bottom: 110px;
}

.circle{	 
	 -moz-border-radius: 50px;
	 -webkit-border-radius: 50px;
	 border-radius: 50px;
     width: 70px;
     height: 70px;
     margin: auto;
}

.unique__text{
 font-size: 30px;
 font-weight: 700;
 line-height: 35.16px;
 text-align: center;
 margin-top: 26px;
}

.written__circle{
    background: #21F7EC;
}

.packed__circle{
    background: #33D3BC;
}

.interviews__circle{
   background: #18A5C6;
}

.key-facts__circle{
   background: #D38F62;
}

.a-concise__circle{
   background: #F94C43;
}
 
.instant__circle{
   background: #D399FF;
}

.interviews__title{
   font-size: 36px;
   font-weight: 700;
   line-height: 42.19px;
   text-align: center;
   margin-top: 52px;
   margin-bottom: 102px;
   }
   
   .interviews{
      width: 100%;
      height: 100%;
      display: flex;
      column-gap: 100px;
      justify-content: center;
      padding-bottom: 51px;
      position: relative;
       margin-bottom:78px ;
   }

   .interviews::before{
      content: "";
      max-width: 100%;
      max-height: 72%;
      width: 100%;
      height: 100%;
      background :#F0F0F0;
      position: absolute;
      bottom:0;
      z-index: -1; 
   }
   
   .interviews__block{
      max-width: 288px;
      max-height: 617px;
      display: flex;
      flex-direction: column;
   }
   
   .interviews__text{
   font-size: 22px;
   font-weight: 700;
   line-height: 25.78px;
   letter-spacing: 0.6px;
   text-align: center;
   margin-top: 35px;
   }
   
   .interviews__info{
   font-size: 19px;
   font-weight: 400;
   line-height: 22.27px;
   text-align: center;
   margin-top: 45px;
   }
   
   .interviews__link{
   font-size: 18px;
   font-weight: 700;
   line-height: 21.09px;
   text-align: center;
   color: #000000;
   margin-top: 44px;
   }



   .form__section {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .form__wrapper {
      max-width: 570px;
      max-height: 262px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 88px;
   }
   
   .form__title__top {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 9px;
   }
   .form__title__bottom {
     font-size: 17px;
     font-weight: 700;
     text-align: center;
     margin-bottom: 25px;
   }

   .form__block {
      max-width: 366px;
      max-height: 145px;
   }

   .form{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .form__name{
      width: 366px;
      margin-bottom: 18px;
      max-height: 100%;
      display: flex;
      gap: 16.4%;
   }

   input{
      border: 1px solid #000000;
   }

   #input__text{
      width: 153px;
      height: 39px;
      font-size: 14px;
   }

   #input__email{
      font-size: 14px;
      height: 39px;
      width: 100%;
      margin-bottom: 16px;
   }

   #submit{
      width: 115px;
      height: 33px;
      color: #F0F0F0;
      font-size: 14px;
      background: #000000;
      border-radius: 16px;
      cursor: pointer;   
   }

   .footer{
      background: #020202;      
   }

   .footer__info{
      display: flex;   
      justify-content: center;
      max-width: 1144px;
      margin: auto;
   }

   .thalby-logo-footer{
      margin-top: 51px;
      margin-left: 25px;
   }
   
   .footer__social__icons{
      display: flex;
      column-gap: 20px;
      margin-left: 25px;
      margin-top: 37px; 
      margin-right:  375px;
   }
   
   .©{
   font-size: 14px;
   font-weight: 400;
   line-height: 23.1px;
   text-align: center;
   color: #FFFFFF;
   margin: auto;
   text-wrap: nowrap;
   }
   
   .about__block{
      max-width:165px ;
      max-height: 180px; 
      width: 100%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 21px; 
      margin-bottom:60px;
      margin-left: 101px;
      font-size: 14px;
       font-weight: 400;
      line-height: 21px;
   }
   
   .about__title{
      margin-bottom:14px ;
   }
   
   .about__block__link{
      text-decoration: none;
      color: #FFFFFF;
   }
   
   .contact__block {
      display: flex;
      flex-direction: column;
      margin-left: 72px;
      margin-top: 50.8px;
      gap: 12px;
   }
   .contact__title {
      margin-bottom: 23px ;
      color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.1px;
   }
   
   .contact__link{
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 400px;
      font-size: 14px;
      line-height: 21px;
   }

   @media (max-width: 1199.98px){
      .nav {
         margin-right: 5%;
         max-width: 423px;
         width: 100%;
       }
       
       .nav__list {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: 10%;   
       }

      .guide-decsribe__container{
         column-gap: 5%;
        } 

      .unique__container{
         width: 100%;
         height:100%;
     }
     .interviews{
      column-gap: 5%;
   }

     .guide-french-people__text-block{
      width: 70%;
   }
   .guide-german-power__text-block{
      width: 70%;
   }

   .guide-german-power__text-block{
      width: 70%;
   }
}

 @media (max-width: 991.98px){
   .intro__image{
       margin-left: -13%;
    }

    .intro__text {
      font-size: 200%;
    }

    .intro__button {
      padding: 28px 43px;
      font-size: 30px;
    }
    .about-guides__title{
      font-size: 46px;
    }

    .about-guides__text{
      font-size:  37px;
      line-height: 33.44px;
      height: 269px;
      max-width: 100%;
      text-align: center;
   }
   .about-guides__text-bottom{
      max-width: 571px;
      width: 100%;
      font-size: 30px; 
   }

   .about-guides__info-sellers{
      font-size: 40px;   
   }

   .sellers-guides{
      display:flex;
     flex-direction: column;
   }

   .sellers-guides__container{
      margin-bottom: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
    
   .sellers-guides__icon{
      width: 80%;
      height: 80%;
   }

   .sellers-guides__info{
      font-size: 27px;
      font-weight: 700;
      line-height: 19.92px;
      width: 356px;
      line-height: 30px;
   }

   .sellers-guides__price{
      font-size: 27px;
      width: 173px;
      text-align: center;
   }

   .sellers-guides__link{
      width: 192px;
      font-size: 27px;
      text-align: center;
   }
   .guide-decsribe__container{
      flex-direction: column;
      justify-content: center;
      column-gap: 50%;
      padding: 10%;   
     } 

     .decsribe{
      padding: 75px 5% 50px ;
      margin: auto;
   }

   .guide-decsribe__icon{
    margin: auto;

   }

   .guide-describe__text-block{
      max-width: 80%;
      max-height: 200%;
      display: flex;
      flex-direction: column;
      align-items: center;
     text-align: center;
     margin: auto;
     text-wrap: wrap;
   }

   .guide__shop-link{
     width: 150%;
      font-size: 27px;
   }

   .guide-moroccan-culture__text-block{
      order: 2;
      text-align: center;
      padding: 0 16px;
   }
   
   .guide-moroccan-culture__text{
      text-align: center;
   }

   .guide-german-power__text-block{
      padding-right: 1%;
      margin: auto;
   }

   .unique{
       margin-bottom: 320px;
   }

   .interviews{
      flex-direction: column;
   }

   .interviews::before{
      display: none;
   }

   .interviews__block{
      max-width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 40% 10%;
   }

   .interviews__text{
      font-size: 32px;
   }

   .interviews__info{
      font-size: 29px;
      }
      
   .interviews__link{
    font-size: 18px;
    }
     
   .interviews__link{
    font-size: 28px;
   }

   .footer__social__icons{
      margin-right:  60%;
   } 

   .about__block{
    justify-content: center;
      font-size: 24px;
      margin: 120px 5%; 
      max-height: 280px; 
   }

   .contact__title {
    font-size: 24px;
   }
   
   .about__block__link{
      margin: 20px;
   }

   .©{
      font-size: 18px;
      }

      .contact__block {
         margin-left: 1%;
      }

      .contact__link{
      font-size: 24px;
      line-height: 31px;
      }
   } 

 @media (max-width: 767.98px){
   
   .nav__list{
      display: none;
   }

   .header__icons-wrapper{
      display: none;
   }

    .logo{
      position: absolute;
      right: 10%;
      
    }

   .menu__btn {
      visibility:visible;
    }

   .intro__container {
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
    }
   
    .intro__image{
      width:120%;
       height:120%;
    }
  
    .about-guides__text-bottom{
      font-size: 30px;
      text-align: center;
   }

   .sellers-guides__container{
      margin-bottom: 50%;
   }

   .interviews__title{
      font-size: 36px;
      font-weight: 700;
      line-height: 42.19px;
      text-align: center;
      margin-bottom: 50px;
      }
 }

 @media (max-width: 575.98px){
   .about-guides__text{
      font-size: 30px;
      line-height: 30.44px;
      height: 200%;
   }

   .guide-decsribe__icon{
      max-width: 100%;
   }
   .guide-french-people__text{
      font-size: 160%;
      line-height: 110%;
      width: 140%;
   }

   .guide-moroccan-culture__text{
      font-size: 160%;
      line-height: 110%;
      width: 140%;
   }

   .guide-german-power__text{
      font-size: 160%;
      line-height: 110%;
      width: 140%;
   }

   .footer__info{
      flex-direction: column;
      max-width: 1144px;
      align-items: center; 
   }
 }   
   